@keyframes moveText {
  0% {
    position: absolute;
    top: inherit;
    left: 10px;
    color: inherit;
  }
  50% {
    position: absolute;
    top: inherit;
    left: 350px;
    color: red;
  }
  100% {
    position: absolute;
    top: inherit;
    left: 10px;
    color: inherit;
  }
}

@keyframes wink {
  0% {
    height: inherit;
    top: 150px;
  }
  50% {
    height: 0;
    top: 190px;
  }
  100% {
    height: inherit;
    top: 150px;
  }
}

.eye {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 80px;
  width: 50px;
  color: black;
  /* background-color: currentColor; */
  border-radius: 100%;
  box-shadow: 220px 150px 0 0 currentColor;
}

.eye::before {
  content: "";
  height: inherit;
  width: inherit;
  position: absolute;
  top: 150px;
  left: 440px;
  background-color: currentColor;
  border-radius: 100%;
  animation-name: wink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.eye::after {
  content: "";
  position: absolute;
  top: 120px;
  left: 388px;
  height: 140px;
  width: 140px;
  /* background-color: currentColor; */
  border-radius: 100%;
  border: 5px solid gold;
}
