@keyframes moveText {
  0% {
    position: absolute;
    top: inherit;
    left: 10px;
    color: inherit;
  }
  50% {
    position: absolute;
    top: inherit;
    left: 350px;
    color: red;
  }
  100% {
    position: absolute;
    top: inherit;
    left: 10px;
    color: inherit;
  }
}

@keyframes tweak {
  0% {
    position: absolute;
    height: inherit;
    border-radius: 100%;
  }
  50% {
    position: absolute;
    height: 50%;
    border-radius:100% 100% 0 0;
  }
  100% {
    position: absolute;
    height: inherit;
    border-radius: 100%;
  }
}

.eye {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 80px;
  width: 50px;
  color: steelblue;
  /* background-color: currentColor; */
  border-radius: 100%;
  box-shadow: 220px 150px 0 0 currentColor;
}

.eye::before {
  content: "";
  height: inherit;
  width: inherit;
  position: absolute;
  top: 150px;
  left: 440px;
  background-color: currentColor;
  border-radius: 100%;
}

.eye::after {
  content: "";
  position: absolute;
  top: 110px;
  left: 400px;
  height: 140px;
  width: 140px;
  /* background-color: currentColor; */
  border-radius: 100%;
  border: 3px solid gold;
}
